name: Update Data Daily

on:
  schedule:
    - cron: '0 0 * * *'  # Runs at midnight every day
  workflow_dispatch:

jobs:
  update_data:
    runs-on: ubuntu-22.04
    permissions: write-all

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Run Script to Download Data
        env:
          USER_AGENT: ${{ secrets.USER_AGENT }}
        run: node .github/workflows/updateData.js

      - name: Check for Changes
        id: check_changes
        run: |
          git fetch
          if [[ -n $(git status --porcelain) ]]; then
            echo "Changes detected, proceeding with commit and push."
            echo "::set-output name=has_changes::true"
          else
            echo "No changes detected, exiting without pushing."
            echo "::set-output name=has_changes::false"
            exit 0
          fi

      - name: Commit and Push Changes
        if: steps.check_changes.outputs.has_changes == 'true'
        run: |
          git add .
          git commit -m "Automated data update"
          git push origin main
